zChaff/cnf_stats.cpp
zChaff/Makefile
zChaff/README
zChaff/run_till_fix.pl
zChaff/sat_solver.cpp
zChaff/sat_solver.o
zChaff/zchaff
zChaff/zchaff_base.cpp
zChaff/zchaff_base.h
zChaff/zchaff_base.o
zChaff/zchaff_c_wrapper.cpp
zChaff/zchaff_c_wrapper.o
zChaff/zchaff_clsgen.h
zChaff/zchaff_cpp_wrapper.cpp
zChaff/zchaff_cpp_wrapper.o
zChaff/zchaff_dbase.cpp
zChaff/zchaff_dbase.h
zChaff/zchaff_dbase.o
zChaff/zchaff_header.h
zChaff/zchaff_solver.cpp
zChaff/zchaff_solver.h
zChaff/zchaff_solver.o
zChaff/zchaff_utils.cpp
zChaff/zchaff_utils.o
zChaff/zchaff_version.h
zChaff/zchaff_wrapper.wrp
zChaff/zminimal.cpp
zChaff/zverify_df.cpp
checker/checker-3n.o
checker/checker-sat.o
programy
vystupy
.vscode
